* {
    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(rgb(178, 207, 194), rgb(149, 238, 216));

    background-size: cover;

}

h1 {
    color: #ffffff;
    text-shadow: 1px 5px 17px #04AA6D;
    font-size: 45px;
    font-family: sans-serif;
    padding: 20px;
}

.container {
    /* background-image: url(./conpic.jpg); */
    /* display: block; */

    margin-left: 175px;
    /* margin-right: 690px; */
    margin-bottom: 10px;
    width: 1000px;

    text-align: center;
    box-shadow: 5px 5px 29px 35px #baffe4;
    padding-bottom: 60px;
    border-radius: 20px;
}

input {
    margin-top: 50px;
    margin: 20px;
    margin-left: 40px;
    margin-right: 20px;
    padding-right: 0px;

    font-family: sans-serif;
    font-size: 25px;

}

p {
    padding-top: 10px;
    font-size: 28px;
    font-family: sans-serif;
    color: white;
    text-shadow: 10px 5px 17px #04AA6D;

}

button {
    margin-top: 10px;
    padding: 13px;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: #04AA6D;

    border-radius: 50px;
    border-style: none;
    box-shadow: 5px 20px 20px 2px rgb(172, 202, 192);
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

button:hover {
    opacity: 1;
}

.slidecontainer {
    width: 100%;
}

#Initial {
    -webkit-appearance: none;
    width: 850px;
    height: 5px;
    background: #ffffff;
    border-radius: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#Initial:hover {
    opacity: 1;
}

#Initial::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 35px;
    border-radius: 15px;
    background: #04AA6D;
    cursor: pointer;
}

#Initial::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

--------------------------- .slidecontainer {
    width: 100%;
}

#Final {
    -webkit-appearance: none;
    width: 850px;
    height: 5px;
    background: #ffffff;
    border-radius: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#Final:hover {
    opacity: 1;
}

#Final::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 35px;
    border-radius: 15px;
    background: #04AA6D;
    cursor: pointer;
}

#Final::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

----------------------------- .slidecontainer {
    width: 100%;
}

#Duration {
    -webkit-appearance: none;
    width: 850px;
    height: 5px;
    background: #ffffff;
    border-radius: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#Duration:hover {
    opacity: 1;
}

#Duration::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 35px;
    border-radius: 15px;
    background: #04AA6D;
    cursor: pointer;
}

#Duration::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}