* {
    margin: 0;
    padding: 0;

}

body {
    background-image: linear-gradient(rgb(32, 230, 167) , rgb(95, 255, 210) );

    background-size: cover;
   
}

h1 {
    color: #ffffff;
    text-shadow: 10px 5px 17px rgb(0, 0, 0);
    font-size: 45px;
    font-family: sans-serif;
}

.container {
    background-image: url(./conpic.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    box-shadow: 5px 8px 10px 5px rgb(92, 93, 66);
    padding-bottom: 130px;
    border-radius: 50px;
}
input{
   margin-top: 50px;
    margin: 20px;
    font-family:sans-serif;
    font-size: 25px;

}
p{
    padding-top: 25px;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    text-shadow: 10px 5px 17px rgb(0, 0, 0);

}
button{
    padding: 15px;
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    text-shadow: 1px 5px 15px rgb(0, 0, 0);
    border-radius: 50px;
 border-style: none;
 box-shadow: 5px 8px 10px 5px rgb(92, 93, 66);

}